@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12');
body {
    font-family: 'Nunito Sans', sans-serif;
    background-color: #f1f4ff;
  }

  header.masterhead {
    position: relative;
    background-color: #343a40;
    background: url('/static/img/fundo_home.jpg') no-repeat center center;
    background-size: cover;
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
  header.masterhead:before {
    content: "";
    position: absolute;
    background-color: #1c375e;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.5;
  }
  header.masterhead h1, header.masterhead .h1 {
    font-size: 2rem;
  }
  @media (min-width: 768px) {
    header.masterhead {
      padding-top: 12rem;
      padding-bottom: 12rem;
    }
    header.masterhead h1, header.masterhead .h1 {
      font-size: 3rem;
    }
  }
  footer.footer {
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color: #343a40;
  }

  .navbar-ajustes {
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.15); 
    background-color: #ffffff;
  }

  .navbar-brand-ajustes {
    min-width: 243px;
    max-width: 243px;
  }

  .container-ajustes {
    margin: 20px auto auto auto;
  }

  .container-branco-sombreado {
    margin: 20px auto auto auto;
    background-color: #ffffff;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.15); 
    min-height: 50vh;
  }
  
  .table-striped>tbody>tr:nth-child(odd)>td, 
  .table-striped>tbody>tr:nth-child(odd)>th {
     background-color: #e7ebff; 
   }

  .table {
    font-size:90%;
  }
